.hoverItem .back {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    background: #333;
    background: rgba(75,75,75,0.7);
    width: 100%;
    height: 100%;

}
.hoverItem:hover .back{
    display: block;
}

.hoverTitle{
    padding-top: 30%;
    color: white;
    font-family: Comfortaa;
}
