body, html {
    font-family: Helvetica;
    font-size: 18px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.footer a{
    display: block;
    float: left;
    margin-left: 10px;
    width: 45px;
    height: 45px;
    background-size: cover;
}
/*.footer img{*/
    /*width: 40px;*/
/*}*/
/*======CHECKBOX======*/
.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: transparent;
    border: 1px solid #fff;
}

.control input:checked ~ .control_indicator {
    /*background: #2aa1c0;*/
}

.control input:disabled ~ .control_indicator {
    /*background: #e6e6e6;*/
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 6px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #fff;
}
/*======CHECKBOX=======*/
/*=======SLIDER=======*/
.slick-arrow{
    position: absolute;
    top:50%;
}
.slick-arrow:hover{
    cursor: pointer;
}
.arrow-right{
    right: 0;
    z-index: 1;
}
.arrow-left{
    left: 0;
    z-index: 1;
}
.slick-slider a {
    border-style: none;
    text-decoration: none;
    cursor: zoom-in;
}
.slick-slide {
    height:500px;
}
.slick-slide img {
    height:500px;
    margin: 0 auto;
}
/*======================*/
.section{
    min-height: 90vh;
    padding-top: 10vh;
}
a {
    color: black;
}
a:hover {
    color: #E6287E;
}
.active {
    color: #E6287E;
}

nav li {
    padding-right: 20px
}
.navbar-nav a{
    text-decoration: none;
}
.footer {
    float: right;
    position: fixed;
    bottom: 60px;
    right: 15px;
}

#insta{
    padding-left: 10px;
}

#main-banner, #contacts {
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 60px;
}

.blue-line{
    bottom: 50px;
    text-align: center;
    padding-top: 1.5%;
    color: white;
    background-color: #009FE3;
    height: 100px;
    position: absolute;
    letter-spacing: 0.1em;
    font-family: Comfortaa;
}

.logo img{
    width: 350px;
}
/*--------SERVICES------------*/
#services{
    text-align: center;
    word-wrap: break-word;
    /*min-height: 50vh;*/
}
.pictogram {
    /*text-align: center;*/
    margin: auto;
}
.pictogram p{
    font-family: Comfortaa;
    font-weight: bold;
}
.pictogram img {
    /*width: 150px;*/
    /*height: auto;*/
    margin-bottom: 40px;
}
.pictogram img:hover{
    -webkit-box-shadow: 15px 15px 33px -2px rgba(138,138,138,0.8);
    -moz-box-shadow: 15px 15px 33px -2px rgba(138,138,138,0.8);
    box-shadow: 15px 15px 33px -2px rgba(138,138,138,0.8);
    transition: 0.5s;
}
.pictogram .modal-content{
    /*max-width: 50%;*/
    margin: 0 auto;
}
/*---------------*/
/*----------PROJECTS--------*/
#projects{
    text-align: center;
    padding-top: 20vh;
}
.singleProject h2, .showMore{
    font-family: Comfortaa;
}
#projects ul{
    list-style: none;
}
.proj{
    text-align: center;
    margin-bottom: 20px;
}
.projVisibleItem{
    display:none;
}
.blogVisibleItem{
    display:none;
}
.showMore{
    position: relative;
    text-decoration: none;
}
.showMore:hover{
    cursor: pointer;
}
.showMore:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #E6287E;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.showMore:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.singleProject{
    padding: 150px 15px;
}
.element-item{
    margin: 20px 0;
}
/*.singleProject p{*/
    /*margin-bottom: 240px;*/
/*}*/
/*.proj-pictograms{*/
    /*bottom: 0;*/
/*}*/
.proj-text{
    font-size: 16px;
}
.proj-text p{
    text-align: justify;
}
.review{
    margin-top: 40px;
    text-align: center;
}
/*accordion*/

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.panel {
    text-align: justify;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/*---------------*/

/*------ABOUT-------*/
#about{
    padding-top: 20vh;
}
.team{
    text-align: center;
}
.userName{
    font-family: Comfortaa;
    font-weight: bold;
}
.team-text{
    padding-top: 10vh;
    text-align: justify;
}
.team-text p {
    text-align: justify;
}
/*.team img{*/
    /*width:200px;*/
    /*height: 200px;*/
/*}*/
/*------------------*/
/*--------BLOG----------*/
#blog{
    text-align: center;
    padding-top: 20vh;
    min-height: 100vh;
}
#blog img{
    /*min-width: 400px;*/
    /*min-height: auto;*/
}
.topic{
    padding: 150px 15px;
}
.topic h2{
    font-family: Comfortaa;
}
.blog-item{
    margin: 20px 0;
}
.topic-text{
    font-size: 16px;
}
.topic-text p{
    text-align: justify;
}
/*-------------*/
/*-----CONTACTS--------*/

#contacts {
    margin: 0;
    background-size: cover;
}
#contacts .control-checkbox{
    color: white;
    font-size: 14px;
}
#contacts form{
    max-width: 700px;
    padding-left: 100px;
}
#contacts input{
    border-radius: 0;
}
#contacts textarea{
    border-radius: 0 ;
}
#send{
    font-family: Comfortaa;
}
.sendMessage{
    font-family: Helvetica !important;
    background-color: #E6007E;
}
.email p{
    position: absolute;
    font-size: 24px;
    right: 15px;
    bottom: 80px;
}
.no-err{
    display: none;
}

.error{
    border: 1px solid red !important;
    border-radius: 3px;
}
.rc-anchor-light.rc-anchor-normal {
    border: 1px solid #f85359;
}
.policy{
    min-height: 100px;
    margin: 10px 0;
}
.policy a{
    color: #0b93d5;
}
.policy a:hover{
    color: #f85359;
    text-decoration: none;
}
.policy p {
    float: left;
    text-align: left;
}
.close{
    max-width: 50px;
}

.modal-title{
    margin: auto;
}
.modal-content{
    background-color: rgba(255,255,255,.8);
}

/*==========MEDIA===========*/
@media screen and (min-width: 1901px){
    .logo img{
        width: 250px;
        padding-left: 5%;
    }
    #services{
        padding-top: 40vh;
        min-height: 80vh;
    }
    #services img {
        max-width: 150px;
    }
    #about{
        padding: 20vh 0% 0 5%
    }
    #about img{
        max-width: 250px;
        height: auto;
    }
    #team-foto{
        left: 4%;
    }
    .singleProject, .topic{
        padding: 20vh 5% 0 5%
    }

    #contacts{
        padding-top: 40vh;
    }
    .email p{
        right: 5%;
        bottom: 150px;
    }
    .footer {
        right: 2%;
    }
    .wrap-input2{
        margin-bottom: 37px;
    }
    .modal-dialog{
        max-width: 80% !important;
    }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width: 1900px){
    .logo img{
        width: 200px;
        padding-left: 5%;
    }
    #services{
        padding-top: 30vh;
        min-height: 80vh;
    }
    #about{
        padding: 20vh 0% 0 5%
    }
    #about img{
        max-width: 150px;
    }
    #team-foto{
        left: 4%;
    }
    #contacts{
        padding-top: 20vh;
    }
    nav ul{
        right: 15px;
    }
    .singleProject, .topic{
        padding: 20vh 5% 0 5%
    }
    .modal-dialog{
        max-width: 80% !important;
    }
    /*.navbar-nav{*/
        /*padding-left: 45%;*/
    /*}*/

    #services img {
        max-width: 150px;
    }
    textarea.input2{
        min-height: 115px;
    }
    .wrap-input2{
        margin-bottom: 37px;
    }
    .email p{
        bottom: 160px;
    }
    .footer {
        right: 2%;
    }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .logo img{
        width: 200px;
        padding-left: 5%;
    }
    nav ul{
        right: 15px;
    }
    .pic-text{
        padding:0 60px;
    }
    #about{
        padding: 20vh 0% 0 5%
    }
    #team-foto{
        left: 4%;
    }
    #services{
        padding-top: 30vh;
        min-height: 80vh;
    }
    #services img{
        max-width: 150px;
    }
    .singleProject, .topic{
        padding: 20vh 5% 0 5%
    }
    .email p{
        bottom: 160px;
    }
    textarea.input2{
        min-height: 115px;
    }
    .wrap-input2{
        margin-bottom: 37px;
    }
    .slick-slide{
        height: 400px;
    }
    .slick-slide img {
        height:400px;
        margin: 0 auto;
    }
    .slick-slide iframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .video-wrapper {
        position: relative;
        padding-top: 400px;
    }
    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    #services{
        padding-top: 15vh;
    }
    .logo img{
        width: 250px;
    }
    .blue-line h2{
        font-size: 30px;
        padding: 0 20px;
    }
    /*.navbar-nav{*/
        /*padding-left: 45%;*/
    /*}*/
    #insta{
        padding-left: 10px;
    }
    #contacts {
        padding-top: 40vh;
    }
    #contacts form{
        padding-left: 40px;
    }
    .wrap-input2 {
        margin-bottom: 30px;
    }
    .email p{
        bottom: 0;
        font-size: 18px;
    }
    .policy{
        font-size: 18px;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .email p{
        bottom: 95px;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .logo img{
        width: 200px;
    }

    #services img{
        max-width: 250px;
    }
    .blue-line h2{
        font-size: 22px;
        padding: 10px 20px;
    }
    nav ul{
        width: 200px;
        background-color: white;
        border: 1px solid #ccc;
        text-align: right;
    }

    .email p {
        position: absolute;
        font-size: 24px;
        right: 15px;
        bottom: 80px;
        font-size: 18px;
    }
    #insta{
        padding-left: 10px;
    }
    .footer i{
        font-size: 24px;
    }
    .slick-slide {
        height:250px;
    }
    .slick-slide img {
        height:250px;
        margin: 0 auto;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .logo img{
        width: 150px;
    }
    #insta{
        padding-left: 10px;
    }
    #services p{
        font-size: 12px;
        padding: 0 5px;
    }
    nav ul{
        width: 200px;
        background-color: white;
        border: 1px solid #ccc;
    }
    .blue-line h2{
        font-size: 16px;
        padding: 20px 0px;
    }
    .navbar-nav{
        width: 50%;
        text-align: right;
    }
    .email p{
        position: relative;
        right: 0;
        left: 5%;
        font-size: 14px;
        bottom: 0;
    }
    .footer a{
        z-index: 99;
        width: 30px;
        height: 30px;
    }
    .footer{
        bottom: 40px;
    }
    .footer i{
        font-size: 22px;
    }
    #blog{
        margin-bottom: 60px;
    }
    #contacts{
        padding-top: 20vh;
    }
    #contacts form{
        padding: 0;
    }
    #rc-imageselect, .g-recaptcha {
        transform:scale(0.77);
        -webkit-transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
    .slick-slide {
        height:250px;
    }
    .slick-slide img {
        height:250px;
        margin: 0 auto;
    }
}
